---
interface Props {
  variant?: 'foreground' | 'midground' | 'background';
}

const { variant = 'foreground' } = Astro.props;
---

<div class={`island-layer island-${variant}`} data-variant={variant}>
  {variant === 'foreground' && (
    <>
      <div class="island island-1 foreground-island" style="--delay: 0">
        <div class="grass-layer" style="width: 120px; height: 80px;"></div>
        <div class="dirt-layer" style="width: 120px; height: 40px;"></div>
        <div class="sand-edge"></div>
      </div>
      <div class="island island-2 foreground-island" style="--delay: 2">
        <div class="grass-layer" style="width: 100px; height: 60px;"></div>
        <div class="dirt-layer" style="width: 100px; height: 30px;"></div>
        <div class="sand-edge"></div>
      </div>
    </>
  )}
  
  {variant === 'midground' && (
    <>
      <div class="island island-3 midground-island" style="--delay: 1">
        <div class="grass-layer" style="width: 140px; height: 100px;"></div>
        <div class="dirt-layer" style="width: 140px; height: 50px;"></div>
        <div class="sand-edge"></div>
      </div>
      <div class="island island-4 midground-island" style="--delay: 3">
        <div class="grass-layer" style="width: 110px; height: 70px;"></div>
        <div class="dirt-layer" style="width: 110px; height: 35px;"></div>
        <div class="sand-edge"></div>
      </div>
      <div class="island island-5 midground-island" style="--delay: 5">
        <div class="grass-layer" style="width: 90px; height: 50px;"></div>
        <div class="dirt-layer" style="width: 90px; height: 25px;"></div>
        <div class="sand-edge"></div>
      </div>
    </>
  )}
  
  {variant === 'background' && (
    <>
      <div class="island island-6 background-island" style="--delay: 2">
        <div class="grass-layer" style="width: 160px; height: 120px;"></div>
        <div class="dirt-layer" style="width: 160px; height: 60px;"></div>
        <div class="sand-edge"></div>
      </div>
      <div class="island island-7 background-island" style="--delay: 4">
        <div class="grass-layer" style="width: 130px; height: 90px;"></div>
        <div class="dirt-layer" style="width: 130px; height: 45px;"></div>
        <div class="sand-edge"></div>
      </div>
      <div class="island island-8 background-island" style="--delay: 6">
        <div class="grass-layer" style="width: 100px; height: 70px;"></div>
        <div class="dirt-layer" style="width: 100px; height: 35px;"></div>
        <div class="sand-edge"></div>
      </div>
    </>
  )}
</div>

<style>
  .island-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  .island {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Foreground Islands */
  .island-1 {
    top: 60%;
    left: 10%;
  }

  .island-2 {
    top: 70%;
    right: 15%;
  }

  /* Midground Islands */
  .island-3 {
    top: 40%;
    left: 20%;
  }

  .island-4 {
    top: 50%;
    left: 60%;
  }

  .island-5 {
    top: 60%;
    right: 30%;
  }

  /* Background Islands */
  .island-6 {
    top: 20%;
    left: 10%;
  }

  .island-7 {
    top: 30%;
    left: 50%;
  }

  .island-8 {
    top: 25%;
    right: 20%;
  }

  /* Layer-specific styles */
  .island-foreground {
    z-index: 4;
  }

  .island-midground {
    z-index: 3;
  }

  .island-background {
    z-index: 2;
  }

  /* Responsive adjustments */
  @media (max-width: 768px) {
    .island {
      transform: scale(0.7);
    }
    
    .island-1 { top: 65%; left: 5%; }
    .island-2 { top: 75%; right: 10%; }
    .island-3 { top: 45%; left: 15%; }
    .island-4 { top: 55%; left: 55%; }
    .island-5 { top: 65%; right: 25%; }
    .island-6 { top: 25%; left: 5%; }
    .island-7 { top: 35%; left: 45%; }
    .island-8 { top: 30%; right: 15%; }
  }

  @media (max-width: 480px) {
    .island {
      transform: scale(0.5);
    }
    
    .island-1 { top: 70%; left: 0%; }
    .island-2 { top: 80%; right: 5%; }
    .island-3 { top: 50%; left: 10%; }
    .island-4 { top: 60%; left: 50%; }
    .island-5 { top: 70%; right: 20%; }
    .island-6 { top: 30%; left: 0%; }
    .island-7 { top: 40%; left: 40%; }
    .island-8 { top: 35%; right: 10%; }
  }
</style>